# Tools in Data Science: Mini-Project 1

Here, I'll be doing the mini-project 1 of the course **"Tools in Data Science"** in the <span style="color:hsl(0, 100, 30)">BS in Data Science and Applications degree, IIT Madras.</span>


## Submission Details

Name: Pushpak Ruhil

Roll no.: 21F2001180

Submitted On:

Submission Deadline: 17 November 2023

Course: Tools in Data Science (Elective course, at 'Diploma in DS' level)

## Data

The data can be accessed from the [following link](https://www.senate.gov/legislative/LIS/roll_call_votes/vote1171/vote_117_1_00152.htm)

Code: L3


## What to expect from the project
The project is as follows:
- A source will be given to us, from where the data needs to be scrapped using any tools learnt during or outside the course.
- The data will be in html/pdf format and we can choose to scrap data either from the PDF or the HTML page.
- A set of questions will be given which needs to be answered based on further analysis from the scrapped data.
- The submission needs to be in a csv format with utf-8 encoding.

## Questions to Answer
Q12: How many senators voted "Nay"? **N**

Q4: How many states voted unanimously with "Yea"? **N**

Q11: How many Democrats voted "Yea"? **N**

Q14: How many senators did not vote? **N**

Q3: What is the total number of "Yea" votes from senators whose names start with "B"? **N**

Q5: How many states had at least one non-voting senator? **N**

Q15: What is the ratio of the number of rows to the number of columns in your dataset? **N**

Q13: How many states have both Democrat senators? **N**

Q1: How many Democrats did not vote? **N**

Q2: How many Republicans voted "Yea"? **N**

In [3]:
# Importing necessary libraries
import pandas as pd
import numpy as np
import requests
import json
from bs4 import BeautifulSoup # to parse the webpage

In [4]:
url_data = r"https://www.senate.gov/legislative/LIS/roll_call_votes/vote1171/vote_117_1_00152.htm"

resp = requests.get(url_data)

In [5]:
# Checking the output of the parsed content
resp.content[:500]

b'<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">\n<!-- [if lt IE 7]> <html class="ie6 oldie"> <![endif] --><!-- [if IE 7]>    <html class="ie7 oldie"> <![endif] --><!-- [if IE 8]>    <html class="ie8 oldie"> <![endif] --><!-- [if gt IE 8]> <! --><html class="">\n<!-- <![endif] -->\n<head>\n<META http-equiv="Content-Type" content="text/html; charset=iso-8859-1">\n<meta charset="UTF-8">\n<meta name="viewport" content="width=device-'

In [6]:
# Creating a Soup instance
soup = BeautifulSoup(resp.content, "html.parser")

In [7]:
# Getting the data using the .find_all method
data_list = soup.find_all("div", attrs={"class":"newspaperDisplay_3column"})

In [8]:
# Focusing on Q1(or Q12, according to the sequence shared in the project)
data_list = data_list[0]

In [9]:
# Splitting to get each element separately
senator_data = data_list.text.strip().split("\n")

In [10]:
# Creating a dictionary to convert to pandas DF
df_dict = {
    "Name": [],
    "Vote": []
}

# Loop to process data
for senator in senator_data:
  name_vote = senator.split(",")
  df_dict['Name'].append(name_vote[0])
  df_dict['Vote'].append(name_vote[1])

df = pd.DataFrame(df_dict)

In [11]:
df.shape

(100, 2)

In [12]:
df.describe()

                  Name  Vote
count              100   100
unique             100     3
top     Baldwin (D-WI)   Yea
freq                 1    49

In [13]:
# Grouping the data with the votes to get a count of each type of votes
df.groupby(df['Vote']).count()

             Name
Vote
 Nay           45
 Not Voting     6
 Yea           49

In [14]:
# Dictionary to store all answers in sequential order
answers = {}

# Q12: How many senators voted "Nay"? N

In [15]:
answers["Q12"] = 45

# Q14: How many senators did not vote? N

In [16]:
answers["Q14"] = 6

# Q3: What is the total number of "Yea" votes from senators whose names start with "B"? N

In [17]:
df[df['Name'].str.contains("(^B.*)")]

/var/folders/vm/pmp1rbyn7g72543clq9jjhnr0000gn/T/ipykernel_58546/680796629.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[df['Name'].str.contains("(^B.*)")]

                 Name  Vote
0      Baldwin (D-WI)   Yea
1     Barrasso (R-WY)   Nay
2       Bennet (D-CO)   Yea
3    Blackburn (R-TN)   Nay
4   Blumenthal (D-CT)   Yea
5        Blunt (R-MO)   Nay
6       Booker (D-NJ)   Yea
7      Boozman (R-AR)   Nay
8        Braun (R-IN)   Nay
9        Brown (D-OH)   Yea
10        Burr (R-NC)   Nay

In [18]:
df_q3 = df[df['Name'].str.contains("(^B.*)")].copy()

df_q3.count()

/var/folders/vm/pmp1rbyn7g72543clq9jjhnr0000gn/T/ipykernel_58546/2557224278.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df_q3 = df[df['Name'].str.contains("(^B.*)")].copy()

Name    11
Vote    11
dtype: int64

In [19]:
answers["Q3"] = 11

# Q11: How many Democrats voted "Yea"? N

In [20]:
df.head(1)

             Name  Vote
0  Baldwin (D-WI)   Yea

In [21]:
df[df['Name'].str.contains(r"(\s\(D.*)")]

/var/folders/vm/pmp1rbyn7g72543clq9jjhnr0000gn/T/ipykernel_58546/3019567999.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[df['Name'].str.contains(r"(\s\(D.*)")]

                   Name  Vote
0        Baldwin (D-WI)   Yea
2         Bennet (D-CO)   Yea
4     Blumenthal (D-CT)   Yea
6         Booker (D-NJ)   Yea
9          Brown (D-OH)   Yea
11      Cantwell (D-WA)   Yea
13        Cardin (D-MD)   Yea
14        Carper (D-DE)   Yea
15         Casey (D-PA)   Yea
18         Coons (D-DE)   Yea
20  Cortez Masto (D-NV)   Yea
26     Duckworth (D-IL)   Yea
27        Durbin (D-IL)   Yea
29     Feinstein (D-CA)   Yea
31    Gillibrand (D-NY)   Yea
35        Hassan (D-NH)   Yea
37      Heinrich (D-NM)   Yea
38  Hickenlooper (D-CO)   Yea
39        Hirono (D-HI)   Yea
44         Kaine (D-VA)   Yea
45         Kelly (D-AZ)   Yea
48     Klobuchar (D-MN)   Yea
50         Leahy (D-VT)   Yea
52         Lujan (D-NM)   Yea
54       Manchin (D-WV)   Yea
55        Markey (D-MA)   Yea
58      Menendez (D-NJ)   Yea
59       Merkley (D-OR)   Yea
62        Murphy (D-CT)   Yea
63        Murray (D-WA)   Yea
64        Ossoff (D-GA)   Yea
65       Padilla (D-CA)   Yea
67        Peters (D-MI)   Yea
69          Reed (D-RI)   Yea
72         Rosen (D-NV)   Yea
77        Schatz (D-HI)   Yea
78       Schumer (D-NY)   Yea
81       Shaheen (D-NH)   Yea
83        Sinema (D-AZ)   Yea
84         Smith (D-MN)   Yea
85      Stabenow (D-MI)   Yea
87        Tester (D-MT)   Yea
92    Van Hollen (D-MD)   Yea
93        Warner (D-VA)   Yea
94       Warnock (D-GA)   Yea
95        Warren (D-MA)   Yea
96    Whitehouse (D-RI)   Yea
98         Wyden (D-OR)   Yea

In [22]:
df[df['Name'].str.contains(r"(\s\(D.*)")].groupby("Vote").count()

/var/folders/vm/pmp1rbyn7g72543clq9jjhnr0000gn/T/ipykernel_58546/3081225114.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[df['Name'].str.contains(r"(\s\(D.*)")].groupby("Vote").count()

      Name
Vote
 Yea    48

In [23]:
answers["Q11"] = 48

# Q1: How many Democrats did not vote? N

In [24]:
answers['Q1'] = 0

# Q2: How many Republicans voted "Yea"? N

In [25]:
answers['Q2'] = 0

# Q15: What is the ratio of the number of rows to the number of columns in your dataset? N

In [26]:
df.shape

(100, 2)

In [27]:
# Columns in most atomic form: state, voter_1, d_or_r_1, vote_1, voter_2, d_or_r_2, vote_2
answers["Q15"] = 100/7

In [28]:
answers

{'Q12': 45,
 'Q14': 6,
 'Q3': 11,
 'Q11': 48,
 'Q1': 0,
 'Q2': 0,
 'Q15': 14.285714285714286}

In [29]:
100/4

25.0

# Q4: How many states voted unanimously with "Yea"? N

In [30]:
state_wise = soup.find_all("div", attrs={"class":"contenttext", "width":"100%"})

In [31]:
# Filtering only the required data
state_wise = state_wise[-2]

In [32]:
# Storing the state-wise data in a list
state_data = (state_wise.text).strip().split("\n\n\n\n")

In [33]:
state_data[0]

'Alabama:\n\n\nShelby (R-AL), Nay\n\nTuberville (R-AL), Nay'

In [34]:
# Let's start splitting, now
dict_data = {}
temp = state_data[0].split(":")
cities = [temp[0]]
votes = [i.split(",") for i in (x.strip() for x in temp[1].strip().split("\n\n"))]

In [35]:
dict_data = {}
cities = []
votes = []
for i in range(len(state_data)):
  temp = state_data[i].split(":")
  cities.append(temp[0])
  votes.append([i.split(",") for i in (x.strip() for x in temp[1].strip().split("\n\n"))])

In [36]:
votes[0][0][0]

'Shelby (R-AL)'

In [37]:
data = {
    "city": [],
    "voter_1": [],
    "vote_1": [],
    "voter_2": [],
    "vote_2": []
}
for city, voters in zip(cities, votes):
  data["city"].append(city)
  data["voter_1"].append(voters[0][0])
  data["vote_1"].append(voters[0][1])
  data["voter_2"].append(voters[1][0])
  data["vote_2"].append(voters[1][1])

In [38]:
state_wise_df = pd.DataFrame(data)

In [39]:
state_wise_df.shape

(50, 5)

In [40]:
state_wise_df.head(2)

      city           voter_1 vote_1            voter_2 vote_2
0  Alabama     Shelby (R-AL)    Nay  Tuberville (R-AL)    Nay
1   Alaska  Murkowski (R-AK)    Nay    Sullivan (R-AK)    Nay

In [41]:
state_wise_df['vote_1'] = state_wise_df['vote_1'].str.strip()
state_wise_df['vote_2'] = state_wise_df['vote_2'].str.strip()

In [42]:
ans_4 = state_wise_df[(state_wise_df['vote_1']=='Yea') & (state_wise_df['vote_2'] == 'Yea')]

In [43]:
ans_4.shape

(21, 5)

In [44]:
answers["Q4"] = 21

# Q5: How many states had at least one non-voting senator? N

In [45]:
state_wise_df["vote_1"].unique()

array(['Nay', 'Yea', 'Not Voting'], dtype=object)

In [46]:
ans_5 = state_wise_df[(state_wise_df['vote_1']=='Not Voting') | (state_wise_df['vote_2'] == 'Not Voting')]

In [47]:
ans_5.shape

(5, 5)

In [48]:
answers["Q5"] = 5

In [49]:
answers

{'Q12': 45,
 'Q14': 6,
 'Q3': 11,
 'Q11': 48,
 'Q1': 0,
 'Q2': 0,
 'Q15': 14.285714285714286,
 'Q4': 21,
 'Q5': 5}

# Q13: How many states have both Democrat senators? N

In [50]:
state_wise_df.head(2)

      city           voter_1 vote_1            voter_2 vote_2
0  Alabama     Shelby (R-AL)    Nay  Tuberville (R-AL)    Nay
1   Alaska  Murkowski (R-AK)    Nay    Sullivan (R-AK)    Nay

In [51]:
temp = state_wise_df["voter_1"].str.split(r"(", expand=True)
temp.head(3)

            0      1
0     Shelby   R-AL)
1  Murkowski   R-AK)
2      Kelly   D-AZ)

In [52]:
state_wise_df[['voter_1', 'r_or_d_1']] = temp = state_wise_df["voter_2"].str.split(r"(", expand=True)
state_wise_df[['voter_2', 'r_or_d_2']] = temp = state_wise_df["voter_2"].str.split(r"(", expand=True)

In [53]:
state_wise_df.head(3)

      city      voter_1 vote_1      voter_2 vote_2 r_or_d_1 r_or_d_2
0  Alabama  Tuberville     Nay  Tuberville     Nay    R-AL)    R-AL)
1   Alaska    Sullivan     Nay    Sullivan     Nay    R-AK)    R-AK)
2  Arizona      Sinema     Yea      Sinema     Yea    D-AZ)    D-AZ)

In [54]:
ans_13 = state_wise_df[(state_wise_df["r_or_d_1"].str.contains("(^D.*)")) & (state_wise_df["r_or_d_2"].str.contains("(^D.*)"))]

/var/folders/vm/pmp1rbyn7g72543clq9jjhnr0000gn/T/ipykernel_58546/3571356089.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  ans_13 = state_wise_df[(state_wise_df["r_or_d_1"].str.contains("(^D.*)")) & (state_wise_df["r_or_d_2"].str.contains("(^D.*)"))]

In [59]:
ans_13

,city,voter_1,vote_1,voter_2,vote_2,r_or_d_1,r_or_d_2
2,Arizona,Sinema,Yea,Sinema,Yea,D-AZ),D-AZ)
4,California,Padilla,Yea,Padilla,Yea,D-CA),D-CA)
5,Colorado,Hickenlooper,Yea,Hickenlooper,Yea,D-CO),D-CO)
6,Connecticut,Murphy,Yea,Murphy,Yea,D-CT),D-CT)
7,Delaware,Coons,Yea,Coons,Yea,D-DE),D-DE)
9,Georgia,Warnock,Yea,Warnock,Yea,D-GA),D-GA)
10,Hawaii,Schatz,Yea,Schatz,Yea,D-HI),D-HI)
12,Illinois,Durbin,Yea,Durbin,Yea,D-IL),D-IL)
19,Maryland,Van Hollen,Yea,Van Hollen,Yea,D-MD),D-MD)
20,Massachusetts,Warren,Yea,Warren,Yea,D-MA),D-MA)
21,Michigan,Stabenow,Yea,Stabenow,Yea,D-MI),D-MI)
22,Minnesota,Smith,Yea,Smith,Yea,D-MN),D-MN)
25,Montana,Tester,Nay,Tester,Yea,D-MT),D-MT)
27,Nevada,Rosen,Yea,Rosen,Yea,D-NV),D-NV)
28,New Hampshire,Shaheen,Yea,Shaheen,Yea,D-NH),D-NH)
29,New Jersey,Menendez,Yea,Menendez,Yea,D-NJ),D-NJ)
30,New Mexico,Lujan,Yea,Lujan,Yea,D-NM),D-NM)
31,New York,Schumer,Yea,Schumer,Yea,D-NY),D-NY)
36,Oregon,Wyden,Yea,Wyden,Yea,D-OR),D-OR)
38,Rhode Island,Whitehouse,Yea,Whitehouse,Yea,D-RI),D-RI)
45,Virginia,Warner,Yea,Warner,Yea,D-VA),D-VA)
46,Washington,Murray,Yea,Murray,Yea,D-WA),D-WA)
47,West Virginia,Manchin,Nay,Manchin,Yea,D-WV),D-WV)

In [60]:
ans_13.shape

(23, 7)

In [56]:
answers["Q13"] = 23

In [57]:
answers["Q15"] = 14.285

In [58]:
ordered_que = ["Q12", "Q4", "Q11", "Q14", "Q3", "Q5", "Q15", "Q13", "Q1", "Q2"]

with open(r"answers.csv", "w+") as f:
  for i in ordered_que:
    text = f"{i},{str(answers[i])}"
    f.write(text)
    if i != ordered_que[-1]:
      f.write("\n")