# Project 2: Tools in Data Science

--INSTRUCTIONS:

Please Upload the .csv file containing your answers to the questions asked below.
While creating the csv file, ensure that:

a. The csv file is utf-8 format

b. For questions indicated with 'F', your answer is float and rounded to two decimal places. eg. 7.05

c. For questions indicated with 'N', your answer is integer with no decimal places. eg .1298

d. For questions indicated with 'S', you answer is string entered within double quotes . eg."Blue Whale"

e. Dataset to be referred will be mentioned in the square brackets for each question.eg [books.csv]

f.  Answers in the csv file must follow the same order as asked in the problem statement below

g. For Q14 (Textblob analysis) use non-null dataset , ie. remove the records for which 'original_title' is null

--FILES :

ratings.csv - contains ratings sorted by time.Ratings go from one to five. Both book IDs and user IDs are contiguous. For books, they are 1-10000, for users, 1-53424.
to_read.csv - provides IDs of the books marked "to read" by each user, as user_id,book_id pairs, sorted by time.
books.csv - has metadata for each book (goodreads IDs, authors, title, average rating, etc.). The metadata has been extracted from goodreads XML files.
book_tags.csv - contains tags/shelves/genres assigned by users to books. Tags in this file are represented by their IDs. Each book_id has multiple tag_id.The field "count" denotes ‘user records’ (the number of users tagged the given tag_id with the goodreads_book_id).


--SUBMISSION:

A sample submission file for this is available in this url (copy paste the URL in a new tab) https://docs.google.com/spreadsheets/d/1ZwXzTez6NItzDm97P8tB5snSaVM13mscCbDuyk_NZjw/edit#gid=0

--TROUBLESHOOT FOR WRONG ANSWERS:
If there is any error indication in Test Run  please follow the below troubleshooting guide
1. Check if the questions numbers in csv match with the question numbers in the portal.
2. Check if the answer format (S/N/F) is accurate in the console post 'Test Run'.
3. Check and remove if there are trailing whitespace in the answers provided in csv.
4. If string answers contain comma, enter the string answer within double quotes, eg "Third,wave"


--QUESTIONS:

The data for this assignment can be accessed in the below link (copy paste the URL in a new tab).

L31: Folder- 31617 , Link - https://drive.google.com/drive/folders/17IWSENkYtjFpUsUcxz_uKZRlQ8ZHsJUj?usp=sharing

Q2: How many unique books are present in the dataset ? Evaluate based on the 'book_id'? [books.csv] (N)

Q4: Which book (title) has the maximum number of ratings based on (work_ratings_count) [books.csv] ? (S)

Q8: Which is the least used tag, i.e. mapped with the lowest number of books [book_tags.csv]? (In case of more than one tag, mention the tag id with the least numerical value) (N)

Q1: How many books do not have an original title [books.csv] ? (N)

Q11: How many unique tags are there in the dataset [book_tags.csv] ? (N)

Q9: Which book (title) has the minimum (average_rating) [books.csv], if more than 1 book have same average rating, sort the books by ['title'] in alphabetical order and use the first book in the sorted list? (S)

Q7: Which book (goodreads_book_id) is marked as to-read by most users [books.csv,toread.csv] ? (N)

Q5: Which (tag_id) is the most frequently used ie. mapped with the highest number of books [book_tags.csv] ? (In case of more than one tag, mention the tag id with the least numerical value) (N)

Q3: How many unique users are present in the dataset [ratings.csv] ? (N)

Q14: Predict sentiment using Textblob. How many positive titles (original_title) are there [books.csv] ? (cut-off >=0) N

In [1]:
import numpy as np
import pandas as pd

In [2]:
books = pd.read_csv("31617/books.csv")
book_tags = pd.read_csv("31617/book_tags.csv")
ratings = pd.read_csv("31617/ratings.csv")
toread = pd.read_csv("31617/toread.csv")

In [3]:
answers = dict()

# Q2: How many unique books are present in the dataset ? Evaluate based on the 'book_id'? [books.csv] (N)

In [3]:
books.head(3)

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
1,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
2,18,5,5,2402163,376,043965548X,9.780440e+12,"J.K. Rowling, Mary GrandPré, Rufus Beck",1999.0,Harry Potter and the Prisoner of Azkaban,...,1832823,1969375,36099,6716,20413,166129,509447,1266670,https://images.gr-assets.com/books/1499277281m...,https://images.gr-assets.com/books/1499277281s...

In [19]:
books.isnull().sum()

book_id                       0
goodreads_book_id             0
best_book_id                  0
work_id                       0
books_count                   0
isbn                         86
isbn13                       73
authors                       0
original_publication_year     3
original_title               79
title                         0
language_code                84
average_rating                0
ratings_count                 0
work_ratings_count            0
work_text_reviews_count       0
ratings_1                     0
ratings_2                     0
ratings_3                     0
ratings_4                     0
ratings_5                     0
image_url                     0
small_image_url               0
dtype: int64

In [4]:
books.shape

(1427, 23)

In [15]:
books.book_id.nunique()

1427

In [7]:
books.isbn.nunique()

1341

In [14]:
books.book_id.duplicated().sum()

0

In [20]:
answers['ans2'] = 1427

# Q4: Which book (title) has the maximum number of ratings based on (work_ratings_count) [books.csv] ? (S)

In [26]:
books.head(3)

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
1,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
2,18,5,5,2402163,376,043965548X,9.780440e+12,"J.K. Rowling, Mary GrandPré, Rufus Beck",1999.0,Harry Potter and the Prisoner of Azkaban,...,1832823,1969375,36099,6716,20413,166129,509447,1266670,https://images.gr-assets.com/books/1499277281m...,https://images.gr-assets.com/books/1499277281s...

In [29]:
books[books.work_ratings_count == books.work_ratings_count.max()].original_title

0    Harry Potter and the Philosopher's Stone
Name: original_title, dtype: object

In [30]:
answers['ans4'] = "Harry Potter and the Philosopher's Stone"

# Q8: Which is the least used tag, i.e. mapped with the lowest number of books [book_tags.csv]? (In case of more than one tag, mention the tag id with the least numerical value) (N)

## CHECK ANSWER

In [199]:
book_tags[book_tags.tag_id == 23]

       goodreads_book_id  tag_id  count
61594            2029927      23      9

In [5]:
book_tags.columns

Index(['goodreads_book_id', 'tag_id', 'count'], dtype='object')

In [16]:
book_tags.groupby('tag_id').agg('count').sort_index()

        goodreads_book_id  count
tag_id
23                      1      1
25                      1      1
27                      4      4
34                      1      1
41                      1      1
...                   ...    ...
34244                   1      1
34247                   1      1
34248                   2      2
34250                   1      1
34251                   1      1

[5243 rows x 2 columns]

In [4]:
book_tags.sort_values(by=['count','tag_id'])

        goodreads_book_id  tag_id   count
91090             7557548      66       1
47892              320700      73       1
76781             6167746     117       1
102573            8724779     121       1
23669               52629     129       1
...                   ...     ...     ...
142200           29056083   30574  248603
99200             8490112   30574  255961
35100              119322   30574  276683
112900           11235712   30574  474954
200                     3   30574  496107

[142700 rows x 3 columns]

In [185]:
book_tags.sort_values(by=['count', 'tag_id'], ascending=True)

        goodreads_book_id  tag_id   count
91090             7557548      66       1
47892              320700      73       1
76781             6167746     117       1
102573            8724779     121       1
23669               52629     129       1
...                   ...     ...     ...
142200           29056083   30574  248603
99200             8490112   30574  255961
35100              119322   30574  276683
112900           11235712   30574  474954
200                     3   30574  496107

[142700 rows x 3 columns]

In [195]:
book_tags.tag_id.value_counts().sort_values()

902         1
23103       1
27675       1
23040       1
3245        1
         ...
22743    1422
11743    1422
11305    1424
30574    1426
31617    1427
Name: tag_id, Length: 5243, dtype: int64

In [ ]:
book_tags.head(2).sort_values(by=['count'], ascending=True)

In [187]:
book_tags[book_tags["count"] == book_tags["count"].min()].sort_values(by='tag_id')

        goodreads_book_id  tag_id  count
91090             7557548      66      1
47892              320700      73      1
76781             6167746     117      1
102573            8724779     121      1
23669               52629     129      1
...                   ...     ...    ...
21484               43818   33210      1
21488               43818   33269      1
22679               47697   33301      1
63699             2358870   33952      1
20995               43797   34244      1

[579 rows x 3 columns]

In [42]:
answers['ans8'] = 66

# Q1: How many books do not have an original title [books.csv] ? (N)

In [43]:
books.head(3)

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
1,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
2,18,5,5,2402163,376,043965548X,9.780440e+12,"J.K. Rowling, Mary GrandPré, Rufus Beck",1999.0,Harry Potter and the Prisoner of Azkaban,...,1832823,1969375,36099,6716,20413,166129,509447,1266670,https://images.gr-assets.com/books/1499277281m...,https://images.gr-assets.com/books/1499277281s...

In [50]:
books.isnull().sum()

book_id                       0
goodreads_book_id             0
best_book_id                  0
work_id                       0
books_count                   0
isbn                         86
isbn13                       73
authors                       0
original_publication_year     3
original_title               79
title                         0
language_code                84
average_rating                0
ratings_count                 0
work_ratings_count            0
work_text_reviews_count       0
ratings_1                     0
ratings_2                     0
ratings_3                     0
ratings_4                     0
ratings_5                     0
image_url                     0
small_image_url               0
dtype: int64

In [51]:
answers['ans1'] = 79

# Q11: How many unique tags are there in the dataset [book_tags.csv] ? (N)

In [52]:
book_tags.head(3)

   goodreads_book_id  tag_id   count
0                  1   30574  167697
1                  1   11305   37174
2                  1   11557   34173

In [53]:
book_tags.tag_id.nunique()

5243

In [54]:
book_tags.shape

(142700, 3)

In [55]:
answers['ans11'] = 5243

# Q9: Which book (title) has the minimum (average_rating) [books.csv], if more than 1 book have same average rating, sort the books by ['title'] in alphabetical order and use the first book in the sorted list? (S)

In [60]:
books.head(1)

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...

In [72]:
books[books.average_rating == books.average_rating.min()]

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
1286,9021,24929,24929,1130986,18,60988649,9.780061e+12,"Gregory Maguire, Douglas Smith",2001.0,Lost,...,12534,12937,921,1749,3377,4518,2237,1056,https://images.gr-assets.com/books/1407711681m...,https://images.gr-assets.com/books/1407711681s...

In [74]:
books.sort_values(by='average_rating')[['title', 'average_rating']]

                                                  title  average_rating
1286                                               Lost            2.80
1163                                           Zone One            3.25
1048                                             Violin            3.26
1277                          Ghostgirl (Ghostgirl, #1)            3.28
293            Dead Ever After (Sookie Stackhouse, #13)            3.39
...                                                 ...             ...
1162                   The Absolute Sandman, Volume One            4.65
309   The Harry Potter Collection 1-4 (Harry Potter,...            4.66
538        Harry Potter Collection (Harry Potter, #1-6)            4.73
63             Harry Potter Boxset (Harry Potter, #1-7)            4.74
471   Harry Potter Boxed Set, Books 1-5 (Harry Potte...            4.77

[1427 rows x 2 columns]

In [75]:
answers['ans9'] = "Lost"

# Q7: Which book (goodreads_book_id) is marked as to-read by most users [books.csv,toread.csv] ? (N)

In [77]:
books.head(2)

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
1,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...

In [78]:
toread.head(2)

   user_id  book_id
0      124      682
1      207       25

In [79]:
toread.book_id.nunique()

1427

In [80]:
toread.shape

(124767, 2)

In [93]:
most_toread = toread.groupby('book_id').agg("count").sort_values(by='user_id', ascending=False).index[0]

In [99]:
books[books.book_id == most_toread]

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
15,139,9460487,9460487,14345371,155,1594744769,9.781595e+12,Ransom Riggs,2011.0,Miss Peregrine’s Home for Peculiar Children,...,613674,672222,53569,14920,45434,159227,234792,217849,https://images.gr-assets.com/books/1472782916m...,https://images.gr-assets.com/books/1472782916s...

In [101]:
answers['ans7'] = 9460487

# Q5: Which (tag_id) is the most frequently used ie. mapped with the highest number of books [book_tags.csv] ? (In case of more than one tag, mention the tag id with the least numerical value) (N)

## ANSWER CHECK

In [111]:
book_tags.groupby('tag_id').agg('sum').sort_values(by='count', ascending=False)

        goodreads_book_id     count
tag_id
30574          8594175934  20490280
11305          8591260328   1605506
11557          8578888434   1137333
8717           8379668596   1031392
33114          6082478389    697478
...                   ...       ...
14067               43818         1
31761               43818         1
31758               43818         1
28299               47697         1
24471               52629         1

[5243 rows x 2 columns]

In [173]:
answers['ans5'] = 31617

# 30574
# or could be 31617 -- CORRECT

In [113]:
book_tags.groupby('tag_id').agg('count').sort_values(by='count', ascending=False)

        goodreads_book_id  count
tag_id
31617                1427   1427
30574                1426   1426
11305                1424   1424
22743                1422   1422
11743                1422   1422
...                   ...    ...
15873                   1      1
15887                   1      1
15899                   1      1
15953                   1      1
34251                   1      1

[5243 rows x 2 columns]

# Q3: How many unique users are present in the dataset [ratings.csv] ? (N)

In [115]:
ratings.head(3)

   user_id  book_id  rating
0        2     3753       5
1        4       18       5
2        4       27       5

In [116]:
ratings.nunique()

user_id    48878
book_id     1427
rating         5
dtype: int64

In [117]:
ratings.shape

(895856, 3)

In [118]:
answers['ans3'] = 48878

# Q14: Predict sentiment using Textblob. How many positive titles (original_title) are there [books.csv] ? (cut-off >=0) N

In [134]:
from textblob import TextBlob

In [135]:
books.isnull().sum()

book_id                       0
goodreads_book_id             0
best_book_id                  0
work_id                       0
books_count                   0
isbn                         86
isbn13                       73
authors                       0
original_publication_year     3
original_title               79
title                         0
language_code                84
average_rating                0
ratings_count                 0
work_ratings_count            0
work_text_reviews_count       0
ratings_1                     0
ratings_2                     0
ratings_3                     0
ratings_4                     0
ratings_5                     0
image_url                     0
small_image_url               0
dtype: int64

In [136]:
books.shape

(1427, 23)

In [137]:
books.dropna(subset=['original_title'], axis=0, inplace = True)

In [138]:
books.shape

(1348, 23)

In [139]:
books['TextBlob_Subjectivity'] = books['original_title'].apply(lambda x: TextBlob(x).sentiment.subjectivity)
books['TextBlob_Polarity'] = books['original_title'].apply(lambda x: TextBlob(x).sentiment.polarity)

In [149]:
books['TextBlob_Analysis'] = books['TextBlob_Polarity'].apply(
    lambda x: "positive" if x>=0 else "negative"
)

In [150]:
q14 = books[['original_title', 'TextBlob_Subjectivity', 'TextBlob_Polarity', 'TextBlob_Analysis']]

In [151]:
q14.groupby('TextBlob_Analysis').agg('count')

                   original_title  TextBlob_Subjectivity  TextBlob_Polarity
TextBlob_Analysis
negative                      155                    155                155
positive                     1193                   1193               1193

In [152]:
answers['ans14'] = 1193

In [153]:
answers

{'ans2': 1427,
 'ans4': "Harry Potter and the Philosopher's Stone",
 'ans8': 66,
 'ans1': 79,
 'ans11': 5243,
 'ans9': 'Lost',
 'ans7': 9460487,
 'ans5': 30574,
 'ans3': 48878,
 'ans14': 1193}

In [169]:
submission = {
    'Q2': answers['ans2'],
    'Q4': answers['ans4'],
    'Q8': answers['ans8'],
    'Q1': answers['ans1'],
    'Q11': answers['ans11'],
    'Q9': answers['ans9'],
    'Q7': answers['ans7'],
    'Q5': answers['ans5'],
    'Q3': answers['ans3'],
    'Q14': answers['ans14']
}

In [170]:
sub = pd.DataFrame.from_dict(submission, orient='index')

In [171]:
sub

                                            0
Q2                                       1427
Q4   Harry Potter and the Philosopher's Stone
Q8                                         66
Q1                                         79
Q11                                      5243
Q9                                       Lost
Q7                                    9460487
Q5                                      31617
Q3                                      48878
Q14                                      1193

In [175]:
sub.to_csv("submission.csv", header=False)